body {
  background: #8EBAC7;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  padding-top: 30px;
}

p {
  margin: 0;
}

.row {
  margin: 0;
}

.alljourneys {
  margin-top: 30px;
  margin-bottom: 30px;
}

.journey {
  color: #222;
  background: rgba(255,255,255,.9);
  border-spacing: 2px;
  border-color: gray;
  font-family: 'Helvetica',sans-serif;
  border-bottom: 1px #e5e5e5 solid;
}

.current .journey {
  background: rgba(206,220,206,.9);
}

.journey {
  
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  
}

.journey .row {
  cursor: pointer;
}


.journey .sourceDestDest {
  margin-left: 20px;
}

.header {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1030;
  height: 40px;
  color: black;
  background-color: #C6C8CD;
  text-align: center;
  font-weight:bold;

}

.description {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.description h1 {
  margin-top: 0px;
  font-size: 23px;
}

