
    <div class="journey row">
      <div class="col-xs-4">
        <p class="sourceDest">from: {{trip["originStation"]}} to:{{trip["destinationStation"]}}</p>
      </div>
      <div class="col-xs-4">
        <p class="timetable">departs: {{trip["startTime"]}} arrives:{{trip["arrivalTime"]}}</p>
      </div>
      <div class="col-xs-4">
        <p class="extra">Mar 23</p>
      </div>
    </div>
    <div class="description row">
      <div class="col-xs-3">&nbsp;</div>
      <div class="col-xs-6">
        <h1>Embraer adds third Legacy 500 prototype to flight test campaign</h1>
        <p>The third Legacy 500 has joined Embraer's flight test programme aimed at delivering the midsize business jet in 2014. The airtcraft, serial number 003...</p>
      </div>
      <div class="col-xs-3">&nbsp;</div>
    </div>