
    <div class="journey row"  ng-click="open(trip)">
      <div class="col-xs-3">
        <p class="sourceDest">from: {{trip["originStation"]}}</p>
      </div>
      <div class="col-xs-3">
        <p class="timetable">to: {{trip["destinationStation"]}}</p>
      </div>
      <div class="col-xs-3">
        <p class="extra">departs: {{trip["startTime"] | date:'@HH:mm' }}</p>
      </div>
      <div class="col-xs-3">
        <p class="extra">arrives: {{trip["arrivalTime"]}}</p>
      </div>
    </div>
