<div class="ngdialog-message" ng-show="ngDialogData">
				<b>Your journey details</b>
				<div> </div>
				<ul class="mt">
					<li>Departs from:  {{ ngDialogData["originStation"] }} </li>
					<li>Arrives to:  {{ ngDialogData["destinationStation"] }}</li>
					<li>Operated by:  {{ ngDialogData["operator"] }}</li>
					<li>Departure time:  {{ ngDialogData["startTime"] }}</li>
					<li>Arrival time:  {{ ngDialogData["arrivalTime"] }}</li>
					<li>Trip duration:  {{ ngDialogData["duration"] }}</li>
				</ul>
				<div class="mt"></div>
			</div>